<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" th:href="@{/cafe/css/menu/categories.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/cafe/css/blocks/headers.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/cafe/css/blocks/category_panel.css}">
</head>
<body>

<h1 th:insert="blocks/headers :: menu_header"></h1>

<div th:insert="blocks/category_panel :: category_panel"></div>

</body>
</html>