* {
    padding: 0;
    margin: 0;
}

.search_form {
    height: 40px;
}

.search_field {
    font-family: inherit;
    margin: 40px 10px auto 100px;
    height: 35px;
    width: 700px;
    color: black;
    background-color: #EECFBA;
    border: 3px solid maroon;
}

.search_button {
    height: 35px;
    width: 90px;
    font-family: monospace;
    border-radius: 10px;
    color: black;
    background: darkkhaki;
    border: 3px solid maroon;
}
