<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meals</title>
    <link rel="stylesheet" type="text/css" th:href="@{/cafe/css/blocks/headers.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/cafe/css/menu/meals.css}">
</head>
<body>

<h1 th:insert="blocks/headers :: header"></h1>

<div th:each="meal : ${meals}">
    <div th:if="${category == meal.getCategory().name}">
        <div class="category_meal_data">
            <p th:text="'Id - ' + ${meal.getId()}"></p>
            <p th:text="'Name - ' + ${meal.getName()}"></p>
            <a th:href="@{/user/menu/{category}/meals/{id}(category=${category}, id=${meal.getId()})}">
                <img th:src="@{${meal.getImage()}}" th:alt="${meal.getName()}" alt="">
            </a>
        </div>
    </div>
</div>
</body>
</html>