.authorization_title {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 15em;
}

.secondary_title {
    color: sienna;
    font-family: "Cambria Math", cursive;
    font-weight: bold;
    text-shadow: 1px 1px 1px olivedrab, 2px 2px 1px darkgreen;
}

.authorization_form {
    margin-left: 500px;
}

#password {
    width: 500px;
    height: 30px;
    border-radius: 10px;
    background-color: #EECFBA;
    border: 3px solid maroon;
}

#username {
    width: 500px;
    height: 30px;
    border-radius: 10px;
    background-color: #EECFBA;
    border: 3px solid maroon;
}

.sign_in {
    margin-left: 710px;
    height: 30px;
    width: 90px;
    font-family: monospace;
    color: black;
    border-radius: 10px;
    background: darkkhaki;
    border: 3px solid maroon;
}