<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" th:href="@{/cafe/css/blocks/headers.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/cafe/css/authentication/registration.css}">
</head>
<body>
<h1 th:insert="blocks/headers :: header"></h1>

<form th:method="post" th:object="${user}" th:action="@{/main_page/registration}">
    <div class="registration_title">
        <h1 class="secondary_title">Registration</h1>
    </div>

    <div class="registration_form">
        <label th:for="name"><b>Name</b></label>
        <br>
        <input type="text" th:field="*{name}" placeholder="Enter name" id="name">
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">User name Error</div>
        <br>
        <br>
        <label th:for="login"><b>Login</b></label>
        <br>
        <input type="text" th:field="*{login}" placeholder="Enter login" id="login">
        <div style="color:red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login Error</div>
        <br>
        <br>
        <label th:for="password"><b>Password</b></label>
        <br>
        <input type="password" th:field="*{password}" placeholder="Enter password" id="password">
        <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
        <br>
        <!--        <label for="password_repeat"></label>-->
        <!--        <br>-->
        <!--        <input type="password" placeholder="Repeat password" id="password_repeat">-->
    </div>


    <br>
    <br>
    <input class="sign_up" type="submit" value="Sign up">
</form>
</body>
</html>