<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Access closed. Not enough rights.</title>
</head>
<body>
<h1 th:align="center">There's no page here!</h1>
<p th:align="center">
    <img th:src="@{/cafe/img/error/403.png}" alt="403">
</p>
<p th:align="center">
    We're sorry, but you do not have administrator rights to view the page!
    Go back to <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/main_page}">home page</a>
    <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/user/main_page}">home page</a>.
</p>
</body>
</html>