<div th:fragment="header">
    <h1 class="main_article">
        Welcome to Snacks at Zhendos
        <img class="beer" th:src="@{/cafe/img/main_page/header.gif}" alt="Barrel of beer">
    </h1>
</div>



<div th:fragment="admin_header">
    <h1 class="main_article">
        Welcome to Snacks at Zhendos
        <img class="beer" th:src="@{/cafe/img/main_page/header.gif}" alt="Barrel of beer">
        <a th:href="@{'/admin/'+${#authentication.name}}">
            <img class="role" th:src="@{/cafe/img/main_page/admin.jpg}" alt="admin">
        </a>
    </h1>
</div>

<div th:fragment="user_header">
    <h1 class="main_article">
        Welcome to Snacks at Zhendos
        <img class="beer" th:src="@{/cafe/img/main_page/header.gif}" alt="Barrel of beer">
        <a th:href="@{'/user/'+${#authentication.name}}">
            <img class="role" th:src="@{/cafe/img/main_page/user.jpg}" alt="user">
        </a>
    </h1>
</div>

<div th:fragment="main_page_header">
    <h1 class="main_article">
        Welcome to Snacks at Zhendos
        <img class="beer" th:src="@{/cafe/img/main_page/header.gif}" alt="Barrel of beer">

        <form class="registration" th:action="@{/main_page/registration}" th:method="get">
            <input type="submit" value="Sign up">
        </form>

        <form class="authorization" th:action="@{/login}" th:method="get">
            <input type="submit" value="Sign in">
        </form>
    </h1>
</div>

<div th:fragment="admin_account_header">
    <h1 class="main_article">
        Welcome to Snacks at Zhendos
        <img class="beer" th:src="@{/cafe/img/main_page/header.gif}" alt="Barrel of beer">

        <form class="create" th:action="@{/admin/menu/create}" th:method="get">
            <input type="submit" value="Create meal">
        </form>
        <form class="logout" th:action="@{/logout}" th:method="post">
            <button type="submit">Logout</button>
        </form>
    </h1>
</div>

<div th:fragment="user_account_header">
    <h1 class="main_article">
        Welcome to Snacks at Zhendos
        <img class="beer" th:src="@{/cafe/img/main_page/header.gif}" alt="Barrel of beer">

        <form class="logout" th:action="@{/logout}" th:method="post">
            <button type="submit">Logout</button>
        </form>
    </h1>
</div>