<div th:fragment="header">
    <h1 class="main_article">
        Welcome to Snacks at Zhendos
        <img th:src="@{/cafe/img/main_page/header.gif}" alt="Barrel of beer">
    </h1>
</div>

<div th:fragment="main_page_header">
    <h1 class="main_article">
        Welcome to Snacks at Zhendos
        <img th:src="@{/cafe/img/main_page/header.gif}" alt="Barrel of beer">

        <form class="registration" th:action="@{/main_page/registration}" th:method="get">
            <input type="submit" value="Sign up">
        </form>

        <form class="authorization" th:action="@{/main_page/authorization}" th:method="get">
            <input type="submit" value="Sign in">
        </form>
    </h1>
</div>